cov-build.sh
cov-int
a2-cov.tgz
dist
a.out
*.patch
*.o
*.map
*.sym
*.dbg
*.lbl
*.bin
*.x86_64
*.dsk
*.po
*.tr
*.trace
*.callg
*.dasm
*.stack
*.csv
log
*.log
massif.*
callgrind.*
inputs
cc65
tools/send/send
tools/recv/recv
IN*
history/
*source.build
*.dsc
*.tar.gz
*source.buildinfo
*source.changes
*.ppa.upload
*build-stamp
*.debhelper
*.substvars
*.buildinfo
*.changes
*.deb
*.ddeb
src/kept-around
*.gz
magic.mgc
socket.localhost*
