Source: a2tools
Section: net
Priority: optional
Maintainer: Colin Leroy-Mira <colin@colino.net>
Rules-Requires-Root: no
Build-Depends:
 debhelper (>= 10), libcurl4-gnutls-dev, libgumbo-dev, libpng-dev, libjq-dev, libsdl-image1.2-dev,
 libavcodec-dev, libavformat-dev, libavfilter-dev, libavutil-dev, libswresample-dev
Standards-Version: 4.6.2
Homepage: <https://github.com/colinleroy/a2tools>

Package: surl-server
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 a2tools-common,
 adduser
Description: Apple2 serial/network proxy

Package: a2trace
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Description: Apple2 MAME trace interpreter

Package: a2tools-common
Architecture: all
Description: Apple2 serial helpers configuration
